<%= javascript_include_tag :defaults %>

<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'app/index' %>

<%= stylesheet_link_tag 'jquery-ui-1.8.14.custom' %>

<button id="jquery-ui-dialog-opener">ダイアログを開く</button>
<div id="jquery-ui-dialog" title="ダイアログ">
  <%= link_to "次へ",{:action=>:first}, :remote=>true  %>
</div>





<!-- <form class="button_to" data-remote="true" action="/jquery_ui/first" method="post"> -->
<!--   <div> -->
<!--     <input class="ooo" type="submit" value="次へ"> -->
<!--   </div> -->
<!-- </form> -->


